@import "../../global.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: $mainColor;
    // where do we want the side navbar
    position: fixed;
    // want it out of the screen 300px to the right 
    // this hides the sidebar from the screen
    right: -300px;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;

    // when this class is added by js we bring the sidebar to view

    &.active {
        right:0;
    }



    ul{
        margin: 0;
        padding: 0;
        list-style:none ;
        font-size: 25px;
        font-weight: 300;
        color:#fff;
        width: 60%;

        li {
            margin-bottom: 25px;
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;

            }

            &:hover{
                font-weight: 500;
            
            }
        }
    }

}